<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/order_success.png" alt="" width="72" height="68">
    <h1 class="display-5 fw-bold">Đặt hàng thành công</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" *ngIf="!check">Cảm ơn quý khách đã quan tâm đến sản phẩm của cửa hàng.</p>
        <p class="lead mb-4" *ngIf="check">
            Cảm ơn quý khách đã quan tâm đến sản phẩm của cửa hàng. Mã vận đơn của bạn là <strong>{{ order_id
                }}</strong>.
            <br>Vui lòng nhấn
            <button class="btn btn-primary" (click)="copyToClipboard()">Sao chép mã</button> hoặc chụp lại mã vận đơn để tra cứu đơn hàng.
        </p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" routerLink="/">Về trang chủ</a>
        </div>
    </div>
</div>