<table class="table table-bordered table-hover">
    <thead class="table-primary">
        <tr>
            <th>ID Đơn hàng</th>
            <th>Họ và tên</th>
            <th>Số điện thoại liên hệ</th>
            <th>Ngày đặt</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of OrderList">
            <td>{{ item.order_id}}</td>
            <td>{{ item.customer_name }}</td>
            <td>{{ item.customer_phone }}</td>
            <td>{{ item.order_date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td><span class="badge rounded-pill bg-dark" *ngIf="item.order_status === 0">Chờ xác nhận</span>

                <span class="badge rounded-pill bg-primary" *ngIf="item.order_status === 1">Đã xác nhận</span>
                <span class="badge rounded-pill bg-success" *ngIf="item.order_status === 2">Đã thanh toán</span>
            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="openOrderDetails(item.order_id)">
                    Xem chi tiết
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" [ngClass]="{'show d-block': isModalOpen, 'fade': !isModalOpen}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin đơn hàng</h5>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <strong>Tên khách hàng:</strong> {{ firstSelectedOrderDetail?.customerName }}
                </div>
                <div class="mb-3">
                    <strong>Số điện thoại:</strong> {{ firstSelectedOrderDetail?.customerPhone }}
                </div>
                <div class="mb-3">
                    <strong>Địa chỉ:</strong> {{ firstSelectedOrderDetail?.customerAddress }}
                </div>
                <div class="mb-3">
                    <strong>Thời gian đặt hàng:</strong> {{ firstSelectedOrderDetail?.orderDate | date:'dd/MM/yyyy HH:mm:ss' }}
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Giá</th>
                            <th>Số lượng mua</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of selectedOrderDetails">
                            <td>{{ item.musicName }}</td>
                            <td><img [src]="'http://localhost:8080/uploads/' + getEncodedImageUrl(item.musicImg)"
                                    alt="N/A" width="100" height="100" /></td>
                            <td>{{ item.orderDetailsPrice | currency:'':'':'1.0-0'}}₫</td>
                            <td>{{ item.orderDetailsQuantity }}</td>
                            <td>{{ item.totalPrice | currency:'':'':'1.0-0'}}₫</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mb-3 text-end">
                    <h5 class="fw-bold">Tổng tiền: <span class="fw-bold" style="color: #C92127;">{{ firstSelectedOrderDetail?.orderTotal | currency:'':'':'1.0-0'}}₫</span></h5>
                </div>
                <select class="form-select" [(ngModel)]="updatedOrderStatus" aria-label="Default select example">
                    <option value="0" disabled>Chờ xác nhận</option>
                    <option value="1" [disabled]="updatedOrderStatus === 1 || updatedOrderStatus === 2">Đã xác nhận</option>
                    <option value="2" [disabled]="updatedOrderStatus !== 1">Đã thanh toán</option>
                </select>
            </div>

            <div class="modal-footer">
                <ng-container *ngIf="updatedOrderStatus !== 2; else alreadyPaid">
                    <button type="button" class="btn btn-primary" (click)="firstSelectedOrderDetail?.orderId !== null && updatedOrderStatus !== null ? 
                          updateOrderStatus(firstSelectedOrderDetail!.orderId, updatedOrderStatus) : null">
                        Lưu thay đổi
                    </button>
                </ng-container>

                <ng-template #alreadyPaid>
                    <span class="badge rounded-pill bg-success">Đơn hàng này đã giao dịch thành công.</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>